<h1>Editing Contact</h1>

<%= render 'form', contact: @contact %>

<%= link_to BUTTON[:SHOW_NAME], @contact, class: 'btn btn-primary' %>
<%= link_to BUTTON[:RETURN_NAME], contacts_path, class: 'btn btn-primary' %>
