<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        登録が完了しました。
      </h4>
    </div>
    <div class="modal-body">
      <div class="field">
        <%= link_to "更に追加", new_color_path, class: 'btn btn-primary' %>
        <%= link_to "OK", colors_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>