<div class="panel panel-primary">
  <div class="panel-heading">商品</div>
</div>
<%= render 'form', item: @item %>

<%= link_to BUTTON[:SHOW_NAME], @item, class: 'btn btn-primary' %>
<%= link_to BUTTON[:RETURN_NAME], items_path, class: 'btn btn-primary' %>
