<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>フロント</title>
</head>

<body>
<p><img src="/img/header-front.png" width="1024" height="120" alt=""/></p>
<%= yield %>
<p><img src="/img/footer.png" width="1024" height="52" alt=""/></p>
</body>
</html>
